<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramInterveiw</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar header navbar-fixed-top navbar-expand-lg navbar-dark elegant-color">
          <a class="navbar-brand" href="<%= root_url %>" >Photogram</a>

          <div class="collapse navbar-collapse" id="basicExampleNav">

              <ul class="navbar-nav mr-auto">
                <% if logged_in? %>
                  <%= link_to "Users", users_path, class: "nav-link active" %>
                  <%= link_to "Chat-Room", chat_rooms_path, class: "nav-link active" %>
                <% else %>
                    <li><%= link_to "Log in", login_path, class: "nav-link active" %></li>
                <% end %>
              </ul>
          </div>
          <div class="navbar-nav form-inline my-2 my-lg-0 ml-auto">
            <% if logged_in? %>
              <%= link_to current_user.name, current_user, class: "nav-link active"%></li>
              <li><%= link_to "Edit-profile", edit_user_path(current_user), class: "nav-link active" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete, class: "nav-link active"  %>
              </li>
            <% else %>
                <li><%= link_to "Log in", login_path, class: "nav-link active" %></li>
            <% end %>
        </div>
      </nav>
    </header>
    <br>
    <br>
    <br>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="card container">
        <%= yield %>
      </div>
    </div>
    <br>
    <br>
    <footer class="footer page-footer font-small elegant-color pt-4 mt-4" >
      <div class="container-fluid text-center text-md-left">
          <div class="row">
             <div class="col-md-6">
                <h5 class="text-uppercase">Footer</h5>
              </div>
          </div>
      </div>
    </footer>
  </body>
</html>
